*, :after, :before {
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.question-card{
  margin: 50px auto;
  background-color: #222529;
  padding: 10px;
  border-radius: 15px;
  color: aliceblue;
  width: 90%;
  height: auto;
}
ul{
  list-style: none;
}

.align{
 border: 1px solid rgba(225, 225, 225, 0.1); 
 grid-template-columns: repeat(3, 1fr);
 border-radius: 4px;
 background: rgba(105, 113, 128, 0.1);
 display: grid;
 padding: 0px;
 width: 100%;
}
.box{
 text-align: center;   
 width: 100%;
 margin: 0 auto;
 padding: 15px;
 font-weight: 400;
 border-left: 1px solid rgba(255, 255, 255, 0.1);
 cursor: pointer;
}

li{
  background-color: #292C31;
  padding: 30px;
  margin: 8px 8px 8px 8px;
  border: 2px solid;
  display: inline-block;
  justify-content:space-between;
  cursor: pointer;
  width: 18%;
  border-radius: 7px;
}
.final-result{
  margin: 50px auto;
  padding: 10px;
  background-color: #222529;
  border-radius: 15px;
  color: aliceblue;
  width: 50%;
  height: auto;
}
button{
  background-color: #1f1919;
  border: none;
  padding: 20px;
  margin: 8px 8px 8px 8px;
  display: inline-block;
  position: relative;
  justify-content:space-between;
  cursor: pointer;
  width: 15%;
  border-radius: 7px;
  color: #575b63;
}